// transition
@mixin transition($type, $time) {
	transition: $type $time ease-in-out;
}

// buttons
@mixin btn($color) {
	@include transition(background-color, 0.2s);
	background: $color;
	display: inline-block;
	padding: 9px 28px;
	color: white;
	line-height: 1;
	font-weight: normal;
	border-radius: 4px;
	
	&:hover {
		background: lighten($color, 6);
    color: white;
	}
	
	i {
		padding-right: 12px;
	}
}

// extends
.pointer {
	cursor: pointer;
	cursor: hand;
}
.clearfix {
	&:before,
	&:after {
		content: '';
		display: table;
	}

	&:after {
		clear: both;
	}
}


// icons
@mixin fontawesome($content) {
	content: $content;
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
