/* ----------------------------------------------------- */
// addon configuration
/* ----------------------------------------------------- */

// susy configuration
$susy: (
	columns: 12,  // The number of columns in your grid
	gutters: .60, // The size of a gutter in relation to a single column
	global-box-sizing: border-box,
);

// breakpoint configuration
$breakpoint-default-media: only screen;
$breakpoint-default-feature: max-width;

// define breakpoints
$mw-1200: 1200px;
$mw-1060: 1060px;
$mw-960: 960px;
$mw-840: 840px;
$mw-768: 767px;
$mw-680: 680px;
$mw-580: 580px;
$mw-480: 480px;
$mw-360: 360px;

// modular scale
$ms-base: 1rem 1.9rem;
$ms-ratio: $golden;  // 1.618

body { font-size: ms(0); }
  h5 { font-size: ms(1); }
  h4 { font-size: ms(2); }
  h3 { font-size: ms(3); }
  h2 { font-size: ms(4); }
  h1 { font-size: ms(5); }

p, li, span {
	line-height: 1.8;
}

// colors
$blue: #017CC5;
$yellow: #ffbb00;
$orange: #ff8b00;
$green: #00b454;
$body: #555;

$facebook-blue: #3B5998;
$google-red: #dd4b39;
$twitter-blue: #4099FF;
$linkedin-blue: #0077B5;
// fonts
@import url(http://fonts.googleapis.com/css?family=Bree+Serif|Lato:300,400,700,400italic);

$serif: Bree Serif, Georgia, serif;
$sans-serif: Lato, Open Sans, Helvetica, Arial, sans-serif;